<div class="outter-parent">
    <div class="container">
        <div class="parent">
            <div class="bgline-01"></div>
            <div class="bgline-02"></div>

            <app-register></app-register>

            <div class="bgCircle-01"></div>
            <div class="bgCircle-02"></div>
            <div class="bgCircle-03">
                <img src="../asset/Course-details-page/Ellipse 72.png" alt="">
            </div>
            <div class="bgbox-01">
                <img src="../asset/Course-details-page/Image-57.png" alt="">
            </div>

            <div class="bgbox-02">
                <img src="../asset/Course-details-page/Image-57.png" alt="">
            </div>

            <div class="plane">
                <img src="../asset/vector1.svg" alt="">
            </div>

            <app-registration-box [inputData]="myData"></app-registration-box>
        </div>
    </div>
</div>
