@import "variables";

.container {
  width: 95%;
  max-width: $container-max-width;
  margin: 0 auto;
}


.head {
  margin-top: 30px;
  width: 100%;
  text-align: center;

  h2 {
    font-weight: 700;
    font-size: calc($font-title) + 6;
    line-height: 30px;
    margin-bottom: 10px;
  }

  p {
    font-size: calc($font-title-desc)-2;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 1.2em;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 30px;
}



/**
  * Responsive
 */

@media only screen and (max-width: 599px) {

  .head {
    h2 {
      font-size: 26px;
    }

    p {
      font-size: 8px;
    }
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

}

@media only screen and (min-width: 600px) and (max-width: 959px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

}
