
<div class="contact-container">
    <div class="container">
    <div class="contact-banner">

        <div class="fast-img">
        <img src="../asset/Rectangle51.png" alt="image">
        </div>

        <div class="sec-img">
            <img src="../asset/Mask-Group-2.png" alt="">
        </div>

        <div class="content">
        <h1>Contact Us</h1>
        <form>    
            <input type="text" class="input" name="firstname" placeholder="Your name..">
            <input type="text" class="input" name="lastname" placeholder="Your email..">
            <input type="text" class="input" name="lastname" placeholder="Your company..">
        </form>

        <p>Whrite a note for us if you want</p>
        <form action="">
            <textarea class="input" rows="6" cols="50" placeholder="message"></textarea>
        </form>

        <button type="submit">Submit</button>

    </div>
</div>
</div>
</div>
