@import 'variables';
@import 'fonts';
.contact-container{
    padding: 20px 0;
    background-color: rgb(11, 169, 163);
    width: 100%;
    // max-height: 1000px;
    // height: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
}

.container{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-banner{
    width: 60%;
    height: 540px;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.4);
}

.fast-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    img{
        width: 100%;
        height: 100%;
    }
}

.sec-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;

    img{
        width: 100%;
        height: 100%;
    }
}



.content{
    position: absolute;
    top: 20px;
    // left:50%;
    // transform: translate(-50%,0);
    width: 50%;
    z-index: 2;
}

.content h1{
    font-family: 'Permanent_Marker';
    text-align: center;
    color: white;
}

.content p{
    color: white;
}

.content form{
    padding: 10px 0;
}

.content input[type=text], select {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 10px;
}

.content textarea {
    width: 100%;
    color:#313131;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    color: #313131;
}

.input::placeholder {
    color: #888;           /* Text color */
    font-size: 16px;       /* Font size */
    /* Font style */
    opacity: 0.5;            /* Opacity (1 is fully opaque, 0 is fully transparent) */
  }

.content button{
    width: 100%;
    height: 40px;
    background-color: rgb(71, 140, 207);
    border-radius: 10px;
    border-style: none;
    color:white;
    font-size: 0.9rem;
}

.input{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);

}

@media (max-width:1280px) {

    .content{
        width: 80%;
        // object-fit: contain;
    }
    .fast-img img{
        width: 100%;
        height: 550px;
    }
    .sec-img img{
        width: 100%;
        height: 550px;
    }

}

@media (max-width:884px) {
    .content{
        width: 85%;
    }
    .fast-img img{
        width: 100%;
        height: 100%;
    }
    .sec-img img{
        width: 100%;
        height: 100%;
    }
}

@media (max-width:800px) {
    .content{
        width: 85%;
    }
    .contact-banner{
        width: 90%;
    }
    .fast-img img{
        width: 100%;
        height: 550px;
    }
    .sec-img img{
        width: 100%;
        height: 550px;
    }
}


@media (max-width:428px) {
    .content{
        width: 80%;
    }
    .contact-banner{
        width: 90%;
    }
}