<div class="background">
  <img src="/asset/round_sp.svg" alt="Overlay Image" class="overlay-image" />
  <div class="container">     
    <div class="heading">
        <h1>Choose Your Plan</h1>
        <div class="bgline"></div>
    </div>
    <div class="card-container">
      <div class="plan-card base">
        <div class="head">
          <h4>Base</h4>
          <h3>FREE</h3>
          <p>Unlock offers free plan for one user</p>
        </div>
        <div class="content">
          <div class="check-svg">
            <img class="first" src="/asset/green_check.svg" alt="" />
            <img class="first" src="/asset/green_check.svg" alt="" />
            <img class="first" src="/asset/green_check.svg" alt="" />
          </div>
          <div class="right-text">
            <p>Unlock offers free plan for one user</p>
            <p>Unlock offers free plan for one user</p>
            <p>Unlock offers free plan for one user</p>
          </div>
        </div>
        <div class="chevron-down">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="25"
            width="25"
            viewBox="0 0 512 512"
          >
            <path
              fill="#494949"
              d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
            />
          </svg>
        </div>
        <button>Get Started</button>
      </div>

      <div class="plan-card premium active">
        <div class="popular">
          <div></div>
          <h5>Most Popular</h5>
        </div>
        <div class="head">
          <div class="star-svg">
            <img src="/asset/star.svg" alt="" />
          </div>
          <h4>Premium</h4>
          <div class="price">
            <h3>৳3500</h3>
            <p>/month</p>
          </div>

          <p>Unlock offers free plan for one user</p>
        </div>
        <div class="content">
          <div class="check-svg">
            <img src="/asset/golden_check.svg" alt="" />
            <img src="/asset/golden_check.svg" alt="" />
            <img src="/asset/golden_check.svg" alt="" />
          </div>
          <div class="right-text">
            <p>Unlock offers free plan for one user</p>
            <p>Unlock offers free plan for one user</p>
            <p>Unlock offers free plan for one user</p>
          </div>
        </div>
        <div class="chevron-down">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="25"
            width="25"
            viewBox="0 0 512 512"
          >
            <path
              fill="#494949"
              d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
            />
          </svg>
        </div>
        <button>Upgrade to Premium</button>
      </div>
      <div class="plan-card unlimited">
        <div class="head">
          <h4>Unlimited</h4>
          <div class="price">
            <h3>৳9500</h3>
            <p>/month</p>
          </div>
          <p>Unlock offers free plan for one user</p>
        </div>
        <div class="content">
          <div class="check-svg">
            <img src="/asset/multi_check.svg" alt="" />
            <img src="/asset/multi_check.svg" alt="" />
            <img src="/asset/multi_check.svg" alt="" />
          </div>
          <div class="right-text">
            <p>Unlock offers free plan for one user</p>
            <p>Unlock offers free plan for one user</p>
            <p>Unlock offers free plan for one user</p>
          </div>
        </div>
        <div class="chevron-down">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="25"
            width="25"
            viewBox="0 0 512 512"
          >
            <path
              fill="##494949"
              d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
            />
          </svg>
        </div>
        <button>Upgrade to Unlimited</button>
      </div>
    </div>
  </div>
</div>