@import 'variables';


.card-container {
    display: flex;
    justify-content: center;
    // position: absolute;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    // width: auto;
    margin:100px 0;
    // border: 1px solid red;
 
}

.plan-card {
    background: #ffffff;
    border-radius: 30px;
    padding: 20px;
    box-shadow: rgba(165, 165, 165) 0px 0px 10px 0px inset, 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgb(165, 165, 165);
}
.background {
  background: url(/asset/bg.svg) no-repeat center center;
  background-size: cover;
  width: 100%;
  //   max-width: 1687px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  img {
    width: 950px;
  }
}
.heading{
    margin-top: 40px;
    position: relative;
    h1{
        color: #4d4d4f;
        font-size: calc($font-title)+10px;
        font-family: $font-en-primary;
        text-align: center;
        margin-bottom: 6px;
    }
    .bgline{
        margin-top: 2px;
        width: 116px;
        border: 1px solid #4d4d4f;
        position: absolute;
        left: 55%;
    }
}

.overlay-image {
  position: absolute;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 0;
}

.plan-card {
  z-index: 2;
  background: #ffffff;
  border-radius: 30px;
  padding: 50px 40px;
  box-shadow: rgba(165, 165, 165) 0px 0px 10px 0px inset,
    0px 0px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(165, 165, 165);

}
.plan-card button {
  color: white;
  border: none;
  padding: 16px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 1rem;
}
.plan-card.base button {
  color: black;
  box-shadow: rgb(77, 76, 76) 0px 0px 5px 0px inset;
  background: linear-gradient(
    90deg,
    rgba(20, 231, 106, 1) 34%,
    rgba(7, 152, 134, 1) 90%
  );
}
.plan-card.premium button {
  color: black;
  box-shadow: rgb(77, 77, 76) 0px 0px 5px 0px inset;
  background: rgb(255, 195, 92);
  background: linear-gradient(
    90deg,
    rgba(255, 195, 92, 1) 51%,
    rgba(255, 136, 29, 1) 100%
  );
}

.plan-card.unlimited {
  button {
    color: black;
    font-weight: 500;
    box-shadow: rgb(77, 76, 76) 0px 0px 5px 0px inset;
    background: rgb(100, 219, 176);
    background: linear-gradient(
      90deg,
      rgba(100, 219, 176, 1) 21%,
      rgba(255, 205, 89, 1) 98%
    );
  }

  h4 {
    font-size: 28px;
    font-weight: bold;
    background: rgb(100, 219, 176);
    background: linear-gradient(
      90deg,
      rgba(100, 219, 176, 1) 13%,
      rgba(255, 205, 89, 1) 25%
    );
    background-clip: text;
    color: transparent;
  }
}
.plan-card.premium.active{
    border: 2px solid #ffc35c !important;

}

.plan-card.premium h4 {
  font-size: calc($font-title-desc)+10px;
  background: rgb(252, 195, 92);
  background: linear-gradient(
    90deg,
    rgba(252, 195, 92, 1) 10%,
    rgba(255, 136, 29, 1) 19%
  );
  background-clip: text;
  color: transparent;
  margin-top: 10px;
}
.head {
  h4 {
    font-family: $font-en-primary;
    font-size: calc($font-title-desc)+10px;
    margin-bottom: 10px;
    color: #494949;
  }

  h3 {
    font-family: $font-en-primary;
    font-size: calc($font-title)+10px;
    color: #494949;
    margin-bottom: 15px;
  }

  p {
    font-family: $font-en-primary;
    font-size: 16px;
    color: #494949;
    font-weight: bold;
  }
}
.content {
  display: flex;
  gap: 5px;
  flex-direction: row;
  text-align: center;
  margin-top: 25px;
}

.right-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  p {
    font-family: $font-en-primary;
    font-size: $font-title-desc;
    color: #494949;
    font-weight: 500;
  }
}

.chevron-down {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  h3 {
    font-family: $font-en-primary;
    font-size: calc($font-title)+10px;
    color: #494949;
    margin-bottom: 20px;
  }
  p {
    font-family: $font-en-primary;
    font-size: $font-title-desc;
    color: #494949;
  }
}

.check-svg {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 5px;
  img{
    height: 30px;
    width: 30px;
  }
}

.popular {
  text-align: center;
  transform: translate(150%);
  padding: 2px 0px;
  font-family: $font-en-primary;
  font-size: $font-title-desc;
  border: 1px solid rgba(255, 136, 29, 1);
  width: 40%;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(252, 195, 92, 1) 32%,
    rgba(255, 136, 29, 1) 45%
  );
  background-clip: text;
  color: transparent;
  margin-top: 15px;
}

.star-svg {
    position: relative;
  height: 110px;
  width: 110px;
  img{
    position: absolute;
    height: 110px;
    width: 110px;
  }
}

@media only screen and (max-width: 599px) {
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .plan-card {
    padding: 30px 10px;
    width: 100%;
  }
}
@media only screen and (max-width: 950px) {
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .plan-card {
    width: 104%;
    padding: 20px;
  }
}