@import 'variables';
.container{
    height: 120vh;
}

.bg{
    position: relative;
    img{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    }
}

.round-img {
    width: 60%;
    transform: translate(33%);
    color: black;
    text-align: center;
}

.section-header h2 {
    font-size: 50px;
    font-weight: 700;
    color: #333;
    position: relative;
    position: absolute;
    top: 30px;
    left: 240px;
}

.section-header h2::after {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #333;
    position: absolute;
    left: 50%;
    transform: translateX(70%);
    bottom: 0;
}

.pricing-plans {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 170px;
    align-items: center;
    gap: 40px;
    width: auto;
    transform: translate(-11%);
}

.plan-card {
    background: #fff;
    border-radius: 30px;
    padding: 20px;
    box-shadow: rgba(165, 165, 165) 0px 0px 10px 0px inset, 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 340px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgb(165, 165, 165);
}

.plan-card button {
    color: white;
    border: none;
    padding: 16px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1rem;

}

.plan-card.base button {
    color: black;
    box-shadow: rgb(77, 76, 76) 0px 0px 5px 0px inset;
    background: rgb(20, 231, 106);
    background: linear-gradient(90deg, rgba(20, 231, 106, 1) 34%, rgba(7, 152, 134, 1) 90%);

}

.plan-card.premium button {
    color: black;
    box-shadow: rgb(77, 76, 76) 0px 0px 5px 0px inset;
    background: rgb(255, 195, 92);
    background: linear-gradient(90deg, rgba(255, 195, 92, 1) 51%, rgba(255, 136, 29, 1) 100%);
}

.plan-card.unlimited {
    button {
        color: black;
        font-weight: 500;
        box-shadow: rgb(77, 76, 76) 0px 0px 5px 0px inset;
        background: rgb(100, 219, 176);
        background: linear-gradient(90deg, rgba(100, 219, 176, 1) 21%, rgba(255, 205, 89, 1) 98%);
    }

    h4 {
        font-size: 20px;
        font-weight: bold;
        background: rgb(100, 219, 176);
        background: linear-gradient(90deg, rgba(100, 219, 176, 1) 13%, rgba(255, 205, 89, 1) 25%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }
}

.plan-card.premium h4 {
    font-size: 20px;
    background: rgb(252, 195, 92);
    background: linear-gradient(90deg, rgba(252, 195, 92, 1) 10%, rgba(255, 136, 29, 1) 19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-top: 10px;
}

.plan-card.active {
    transform: scale(1.1);
    box-shadow: 0px 0px 25px rgba(200, 255, 2, 0.2) rgba(0, 0, 0, 1) 0px 0px 10px 0px inset;
    border: 2px solid orange;
    // border-color: linear-gradient(90deg, rgba(255,195,92,1) 51%, rgba(255,136,29,1) 100%) ;
}

.head {
    text-align: left;

    h4 {
        font-size: 20px;
        margin-bottom: 10px;
        color: #494949;
    }

    h3 {
        font-size: 32px;
        color: #494949;
        margin-bottom: 15px;
    }

    p {
        font-size: 12px;
    }

}

.content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    margin-top: 20px;
}

.right-text {
    display: flex;
    flex-direction: column;
    gap: 18px;

    p {
        font-size: 14px;
    }
}

.chevron-down {
    margin-top: 15px;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;

    h3 {
        font-size: 32px;
        color: #494949;
        margin-bottom: 15px;
    }
}

.check-svg {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 30px;
    width: 30px;
}

.popular {
    // text-align: right;
    // align-items: center;
    transform: translate(150%);
    // margin-top: 60px;
    padding: 2px 0px;
    font-size: 14px;
    border: 1px solid rgba(255, 136, 29, 1);
    width: 40%;
    border-radius: 30px;
    background: rgb(252, 195, 92);
    background: linear-gradient(90deg, rgba(252, 195, 92, 1) 32%, rgba(255, 136, 29, 1) 45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.star-svg {
    height: 80px;
    width: 80px;
}


/* Mobile Responsiveness */
@media only screen and (max-width: 599px) {
    .container {
        // align-items: center;
        height: 210vh;
    }
    .section-header h2 {
             left: 10px;
            //  width: 100%;
            //  margin-bottom: 60px;
    }

    .section-header h2::after {
        display: none;
        // margin-bottom: 30px;
    }
    .right-text {
        gap: 14px;
        margin-top: 3px;
    
        p {
            font-size: 16px;
        }
    }

    .pricing-plans {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 90px;
        // top: 0px;
        // left: 0px;
        // right: 0px;
    }

    .plan-card {
        width: 340px;
        margin-bottom: 20px;
    }
}
// @media only screen and (max-width: 800px){
//     .container {
//         // align-items: center;
//         height: 60vh;
//     }
//     .pricing-plans{
//         // align-items: center;
//         transform: translate(-20%);
//         border: 1px solid red;
//     }
// }