<div class="main-container">

  

    <div class="business-upper-container">
      <div class="colorful-bg">
        <img class="bg-img" src="/asset/business-section/Colorfull_bg-01.svg" alt="">
      </div>

      <div class="container">
      <div class="business-heading">
  
  
        <h2>Make Your Business Easier</h2>
        <div class="bgline"></div>
      </div>
    
      <div class="business-section" id="bs">
        <div class="business-left">
          <img src="/asset/business-section/All_device.png" alt="all-devices">
        </div>
    
        <div class="business-right">
          <div class="all-business-texts">
            <div class="business-text">
              <svg class="svg-business"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56">
                <defs>
                  <style>
                    .cls-110 {
                      fill: none;
                      stroke: #8400ff;
                      stroke-miterlimit: 10;
                      stroke-width: 3px;
                    }
    
                    .cls-220 {
                      fill: #494949;
                    }
                  </style>
                </defs>
                <circle class="cls-110" cx="27.38" cy="29.33" r="19.38"/>
                <g id="_0ArrRw.tif" data-name="0ArrRw.tif">
                  <path class="cls-220" d="M25.63,32.84c.07-.1,.11-.21,.18-.28,3.32-3.33,6.65-6.65,9.98-9.98,.5-.5,1.08-.69,1.76-.45,1.04,.37,1.38,1.66,.68,2.51-.06,.07-.13,.14-.2,.21-3.74,3.74-7.49,7.48-11.23,11.23-.34,.34-.72,.56-1.22,.56-.44,0-.82-.14-1.12-.45-1.92-1.91-3.84-3.82-5.74-5.74-.64-.64-.61-1.63,.02-2.25,.63-.61,1.61-.61,2.25,.03,1.46,1.45,2.91,2.9,4.36,4.35,.07,.07,.14,.13,.27,.26Z"/>
                </g>
              </svg>
              <p>Lorem ipsum dolor conseqution ipsum dolor lorem ipsum</p>
            </div>
            <div class="business-text">
              <svg class="svg-business" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56">
                <defs>
                  <style>
                    .cls-110 {
                      fill: none;
                      stroke: #8400ff;
                      stroke-miterlimit: 10;
                      stroke-width: 3px;
                    }
    
                    .cls-220 {
                      fill: #494949;
                    }
                  </style>
                </defs>
                <circle class="cls-110" cx="27.38" cy="29.33" r="19.38"/>
                <g id="_0ArrRw.tif" data-name="0ArrRw.tif">
                  <path class="cls-220" d="M25.63,32.84c.07-.1,.11-.21,.18-.28,3.32-3.33,6.65-6.65,9.98-9.98,.5-.5,1.08-.69,1.76-.45,1.04,.37,1.38,1.66,.68,2.51-.06,.07-.13,.14-.2,.21-3.74,3.74-7.49,7.48-11.23,11.23-.34,.34-.72,.56-1.22,.56-.44,0-.82-.14-1.12-.45-1.92-1.91-3.84-3.82-5.74-5.74-.64-.64-.61-1.63,.02-2.25,.63-.61,1.61-.61,2.25,.03,1.46,1.45,2.91,2.9,4.36,4.35,.07,.07,.14,.13,.27,.26Z"/>
                </g>
              </svg>
              <p>Lorem ipsum dolor conseqution ipsum dolor lorem ipsum</p>
            </div>
            <div class="business-text">
              <svg class="svg-business" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56">
                <defs>
                  <style>
                    .cls-110 {
                      fill: none;
                      stroke: #8400ff;
                      stroke-miterlimit: 10;
                      stroke-width: 3px;
                    }
    
                    .cls-220 {
                      fill: #494949;
                    }
                  </style>
                </defs>
                <circle class="cls-110" cx="27.38" cy="29.33" r="19.38"/>
                <g id="_0ArrRw.tif" data-name="0ArrRw.tif">
                  <path class="cls-220" d="M25.63,32.84c.07-.1,.11-.21,.18-.28,3.32-3.33,6.65-6.65,9.98-9.98,.5-.5,1.08-.69,1.76-.45,1.04,.37,1.38,1.66,.68,2.51-.06,.07-.13,.14-.2,.21-3.74,3.74-7.49,7.48-11.23,11.23-.34,.34-.72,.56-1.22,.56-.44,0-.82-.14-1.12-.45-1.92-1.91-3.84-3.82-5.74-5.74-.64-.64-.61-1.63,.02-2.25,.63-.61,1.61-.61,2.25,.03,1.46,1.45,2.91,2.9,4.36,4.35,.07,.07,.14,.13,.27,.26Z"/>
                </g>
              </svg>
              <p>Lorem ipsum dolor conseqution ipsum dolor lorem ipsum</p>
            </div>
            <div class="business-text">
              <svg class="svg-business" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56">
                <defs>
                  <style>
                    .cls-110 {
                      fill: none;
                      stroke: #8400ff;
                      stroke-miterlimit: 10;
                      stroke-width: 3px;
                    }
    
                    .cls-220 {
                      fill: #494949;
                    }
                  </style>
                </defs>
                <circle class="cls-110" cx="27.38" cy="29.33" r="19.38"/>
                <g id="_0ArrRw.tif" data-name="0ArrRw.tif">
                  <path class="cls-220" d="M25.63,32.84c.07-.1,.11-.21,.18-.28,3.32-3.33,6.65-6.65,9.98-9.98,.5-.5,1.08-.69,1.76-.45,1.04,.37,1.38,1.66,.68,2.51-.06,.07-.13,.14-.2,.21-3.74,3.74-7.49,7.48-11.23,11.23-.34,.34-.72,.56-1.22,.56-.44,0-.82-.14-1.12-.45-1.92-1.91-3.84-3.82-5.74-5.74-.64-.64-.61-1.63,.02-2.25,.63-.61,1.61-.61,2.25,.03,1.46,1.45,2.91,2.9,4.36,4.35,.07,.07,.14,.13,.27,.26Z"/>
                </g>
              </svg>
              <p>Lorem ipsum dolor conseqution ipsum dolor lorem ipsum</p>
            </div>
          </div>
    
    
          <button class="button-business">Build Your eCommerce free</button>
    
        </div>
    
      </div>
    </div>
    </div>
    
  
 
  <div class="user-section">
  
    <div class="user-svg-left">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 506.48 471.45">
        <defs>
          <style>
            .cls-1101 {
              fill: none;
            }
  
            .cls-2202 {
              clip-path: url(#clippath);
            }
  
            .cls-333 {
              fill: #e7e9eb;
            }
          </style>
          <clipPath id="clippath">
            <rect class="cls-1101" width="506.48" height="471.45" transform="translate(506.48 471.45) rotate(180)"/>
          </clipPath>
        </defs>
        <g class="cls-2202">
          <g>
            <rect class="cls-333" x="136.93" y="-8.38" width="144.38" height="631.94" transform="translate(300.63 -52.92) rotate(48.45)"/>
            <polygon class="cls-333" points="242.23 115.72 242.29 115.64 -253.71 -275.93 -343.18 -162.61 39.67 139.64 -262.5 522.39 -149.17 611.85 242.4 115.86 242.23 115.72"/>
          </g>
        </g>
      </svg>
    </div>
    <div class="user-svg-right">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 506.48 471.45">
        <defs>
          <style>
            .cls-11011 {
              fill: none;
            }
  
            .cls-22022 {
              clip-path: url(#clippath);
            }
  
            .cls-3333 {
              fill: #e7e9eb;
            }
          </style>
          <clipPath id="clippath">
            <rect class="cls-11011" width="506.48" height="471.45"/>
          </clipPath>
        </defs>
        <g class="cls-22022">
          <g>
            <rect class="cls-3333" x="225.17" y="-152.1" width="144.38" height="631.94" transform="translate(371.94 495.09) rotate(-131.55)"/>
            <polygon class="cls-3333" points="264.25 355.73 264.19 355.81 760.19 747.39 849.66 634.06 466.81 331.81 768.98 -50.93 655.66 -140.4 264.08 355.6 264.25 355.73"/>
          </g>
        </g>
      </svg>
    </div>
  
  
    <div class="users-container">
  
    <div class="users" >
      <h3>{{count01}}+</h3>
      <!-- <h3>
        <span>6</span><span>8</span><span>0</span><span>+</span>
      </h3> -->
  
      <p>Happy User</p>
    </div>
  
    <div class="users">
      <h3>{{count02}}+</h3>
  
      <!-- <h3>
        <span>2</span><span>0</span><span>+</span>
      </h3> -->
      <p>Terms of Service</p>
    </div>
  
    <div class="users">
      <h3>{{count03}}+</h3>
  
      <!-- <h3>
        <span>5</span><span>0</span><span>+</span>
      </h3> -->
      <p>Award Winning</p>
    </div>
  
  </div>
  
  </div>
</div>

