@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Satoshi:wght@300;400;500;700&display=swap');

$text-color: #4d4d4f;
$border-color: #c4c4c5;
$button-color: #2A2A2A;
$user-bg: #eff1f1;

.colorful-bg{
  position: relative;
  .bg-img{
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
.business-heading {
  display: flex;
  justify-content: center;
  z-index: 2;
  h2{
    //margin-top: 100px;
    font-size: calc($font-title + 10px);
    font-weight: bold;
    color: $text-color;
    font-family: 'Satoshi', sans-serif;
  }
}

.business-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  z-index: 2;
}

.business-left{
  display: grid;
  grid-template-columns: 1fr;
  img{
    max-height: 450px;
    max-width: 450px;
  }
}

.business-right{
  display: grid;
  grid-template-columns: 1fr;
  .business-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding: 0 20px;
    .svg-business{
      height: 30px;
      width: 30px;
    }
    p{
      font-size: calc($font-title-desc + 8px);
      font-weight: 500;
      color: $text-color;
    }
  }

}

.button-business{
  width: 250px;
  padding: 15px 15px;
  border-radius: 50px;
  border: none;
  background-color: $button-color;
  color: $color-white;
  font-size: calc($font-readable + 3px);
  font-weight: 500;
  cursor: pointer;
  margin-top: 90px;
  margin-left: 30px;

}

.user-section{
  border-top: 3px solid $border-color;
  border-bottom: 3px solid $border-color;
  display: flex;
  flex-direction: row;
  gap: 55px;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 245px;
  background-color: $user-bg;
  //margin-bottom: 50px;
  margin-top: 45px;

  .user-svg-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 255px;
    height: 450px;
  }
  .user-svg-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 255px;
    height: 450px;
  }

  .users{
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
      font-size: calc($font-sub-title + 10px);
      font-weight: 600;
      color: $text-color;
      z-index: 1;
    }
    p{
      font-size: $font-sub-title-sm;
      font-weight: 400;
      color: $text-color;
      z-index: 1;
    }
  }

}



@media only screen and (max-width: 599px) {
  .colorful-bg{
    display: none;
  }
  .business-heading{
    h2{
      font-size: calc($font-title - 8px);
    }
  }
  .business-section {
    flex-wrap: wrap;
    .business-left{
      img{
        align-items: center;
        justify-content: center;
        max-height: 350px;
        max-width: 350px;
      }
    }

    .business-text{
      p{
        font-size: $font-readable-sm;
      }
    }

    .button-business{
      width: 85%;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: calc($font-readable + 1px);
      margin-bottom: 50px;
    }

  }

  .user-section{
    height: 292px;
    flex-wrap: wrap;
    gap: 1px;
    margin-top: 10px;
    .user-svg-left{
      width: 310px;
    }

    .user-svg-right{
      width: 310px;
    }

    .users{
      width: 100%;
      h3{
        font-size: calc($font-readable + 8px);
      }
      p{
        font-size: $font-readable-sm;
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1080px) {

  .business-section {
    .business-left{
      img{
        max-width: 225px;
      }
    }

    .business-text{
      p{
        font-size: $font-readable;
      }
    }

    .button-business{
      //width: 65%;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: calc($font-readable + 1px);
      margin-bottom: 5px;
    }

  }
  .user-section{
    margin-top: 0;
  }
}
