@import "variables";

.item {
  width: 100%;
  padding: 10px 16px ;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border-radius: 15px;
  border: 1px solid rgb(201, 199, 199);
  display: flex;
  // justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  cursor: pointer;


  .toggle-header {
    display: flex;
    justify-content: space-between;
    
    b {
      font-size: $font-title-desc;
    }
  }
  .toggle-icons{
    transition: all 1s ease-out;
    svg{
      transition: all 1s ease-out;
    }
  }

  .toggle-content {
    transition: all 1s ease-out;
    p {
      font-size: $font-readable;
      transition: all 1s ease-out;
    }
  }
}


@media only screen and (max-width: 599px) {

  .item {
    .toggle-header {
      b {
        font-size: $font-title-desc-sm;
      }
    }

    .toggle-content {
      p {
        font-size: $font-readable-sm;
      }
    }
  }
}
