<div class="bootcamp-component">
  <div class="text-section">
    <h1>Join Our Bootcamp</h1>
    <p>
      Learn how to become a successful UX/UI Designer with our immersive,
      part-time bootcamp, curated and led by female experts.
    </p>
    <button class="explore-btn">EXPLORE</button>
  </div>
  <div class="image-section">
    <img
      src="/images/yellow-lightbulb-surrounded-by-white-lightbulbs.jpeg"
      alt=""
    />
    <div class="play-button">
      <div class="circle"></div>
      <div class="gol"></div>
      <div class="triangle">
        <svg height="25px" width="25px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="#ff0000" d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80L0 432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/></svg>
      </div>
  </div>
  </div>
</div>
