<div class="container">


<div class="process-container">
  <div class="heading">
    <h2>SaleEcom Builder Process</h2>
    <div class="bgline"></div>
  </div>
  <div class="steps">
    <div class="dot-arrow dot-arrow1">
      <img src="/asset/Doted_Arrow_yellow-01.svg" alt="arrows">
    </div>
    <div class="dot-arrow dot-arrow2">
      <img src="/asset/Doted_Arrow_green-02.svg" alt="arrows">
    </div>
    <div class="dot-arrow dot-arrow3">
      <img src="/asset/Doted_Arrow_red-03.svg" alt="arrows">
    </div>
    <div class="step step01">
      <div class="border border-colour1"></div>
      <div class="start-build bg-colour1">
        <img src="/asset/SVG Element/Artboard 7.svg" alt="" />
      </div>

      <p class="font-colour1">Start Build</p>
    </div>
    <div class="arrow"></div>
    <div class="step step02">
      <div class="border border-colour2"></div>
        <div class="start-build bg-colour2">
          <img src="/asset/SVG Element/Artboard 6.svg" alt="" />
      </div>
      <p class="font-colour2">Payment Process</p>
    </div>
    <div class="arrow"></div>
    <div class="step step03">
      <div class="border border-colour3"></div>
        <div class="start-build bg-colour3">
          <img src="/asset/SVG Element/Artboard 7_1.svg" alt="" />
        </div>
      <p class="font-colour3">Select Teame</p>
    </div>
    <div class="arrow"></div>
    <div class="step step04">
      <div class="border border-colour4"></div>
        <div class="start-build bg-colour4">
          <!-- <img src="/asset/SVG Element/Artboard 7_1.svg" alt="" /> -->
          <P>Company <br> Name</P>
      </div>
      <p class="font-colour4">Set Name</p>
    </div>
  </div>
</div>
</div>

