.process-container {
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #333;
  }
  
  .steps {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .step {
    // background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .border {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: transform 1s ease; /* Smooth rotation transition */
  }
  
  .start-build {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7px;
  
    img {
      height: 60px;
      width: 60px;
    }
  }
  
  .step:hover .border {
    transform: rotate(60deg); /* Rotates the border 180 degrees */
  }
  
  .border-colour1 {
    border: 2px dashed #f8b500;
  }
  
  .bg-colour1 {
    background: #f8b500;
  }
  
  .border-colour2 {
    border: 2px dashed #338a3e;
  }
  
  .bg-colour2 {
    background: #338a3e;
  }
  
  .border-colour3 {
    border: 2px dashed #ff3e3e;
  }
  
  .bg-colour3 {
    background: #ff3e3e;
  }
  
  .border-colour4 {
    border: 2px dashed #002e8f;
  }
  
  .bg-colour4 {
    background: #002e8f;
  }
  
  .arrow {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
  
  p {
    margin-top: 10px;
    font-weight: 600;
  }
  
  .font-colour1 {
    color: #f8b500;
  }
  
  .font-colour2 {
    color: #338a3e;
  }
  
  .font-colour3 {
    color: #ff3e3e;
  }
  
  .font-colour4 {
    color: #002e8f;
  }
  