<section>
  <!-- <button><svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 6V18M12 6L7 11M12 6L17 11" stroke="#7765e3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></button> -->
  <div class="container">
    
    <section class="footer-main-content">
      <button><svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 6V18M12 6L7 11M12 6L17 11" stroke="#7765e3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></button>
      <div class="footer-left">
        <div class="footer-left-text">
          <h5>Here Will be title</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae illum ab exercitationem, quod debitis atque labore alias molestiae odio at laudantium, aperiam vel nisi sint eos veritatis in aspernatur voluptas.</p>
        </div>
        <div class="footer-left-download-our-app">
          <h5>Download Out App</h5>
          <ul>
            <li><a href=""><img src="\images\download-on-the-app-store-flat-badge-logo-4582694404-seeklogo.com.png" alt=""></a></li>
            <li><a href=""><img src="\images\get-it-on-google-play-badge-logo-8CDE582776-seeklogo.com.png" alt=""></a></li>
          </ul>
        </div>
      </div>

      <div class="footer-right">
        <div class="link">
          <h5>Get To Know Us</h5>
          <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Rules</a></li>
            <li><a href="">Accessibility</a></li>
            <li><a href="">Media Center</a></li>
          </ul>
        </div>
        
        <div class="link">
          <h5>Plan With Us</h5>
          <ul>
            <li><a href="">Find Your Courses</a></li>
            <li><a href="">Contact Us</a></li>
          </ul>
        </div>
        
        <div class="link">
          <h5>Let Us Help You</h5>
          <ul>
            <li><a href="">Your Account</a></li>
            <li><a href="">BootCamp</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Help Center</a></li>
            <li><a href="">Submit Feedback</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="copyright">
      <p>© 2024. Akaademy All rights reserved.</p>
    </section>
  </div>
</section>
<!-- </footer> -->