@import "variables";

$text-color: #4d4d4f;
$border-color: #e1e1e2;

.simple-section {
  overflow: hidden;
  padding-bottom: 150px;
}
.form-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  // background: red;

  .form-bg {
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}

.container-header-content-wraper {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  gap: 60px;
  margin-top: 100px;

  .header {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;

    .header-contact-text {
      font-size: 12px;
      font-weight: 900;
      font-family: $font-en-primary;
      letter-spacing: 3px;
      color: $text-color;
      opacity: 0.5;
    }

    .header-question-text {
      font-size: calc($font-title)+10px;
      font-family: $font-en-primary;
      font-weight: 800;
      line-height: 70px;
      margin-top: 10px;
      color: $color-black;
      .call-icon {
        color: #3434cd;
      }
    }

    .header-number-email {
      display: flex;
      gap: 15px;
      margin-top: 40px;

      .header-number-email-contact {
        font-size:$font-title-desc;
        font-weight: 700;
        font-family: $font-en-primary;
      }

      .header-number-email-circle {
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background-color: #3434cd;
        margin-top: 9px;
      }

      .header-number-email-email {
        font-size:$font-title-desc;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}
.content {
  display: flex;
  flex-basis: 50%;
  margin: 0 20px;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.form-control {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  outline: none;
}

.form-control:focus {
  border-color: blue;
}

.floating-label {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0.25rem;
  color: #9580a9;
  font-weight: 700;
  font-size: 1rem;
  transition: 0.2s ease all;
  pointer-events: none;
  opacity: 0.8;
}
.floating-label-message {
  position: absolute;
  left: 1rem;
  top: 20%;
  transform: translateY(-50%);
  padding: 0 0.25rem;
  color: #9580a9;
  font-weight: 700;
  font-size: 1rem;
  transition: 0.2s ease all;
  pointer-events: none;
  opacity: 0.8;
}

.form-control:focus ~ .floating-label,
.form-control:not(:placeholder-shown) ~ .floating-label {
  top: 0;
  transform: translateY(-100%);
  font-size: 0.75rem;
  color: #9580a9;
}
.form-control:focus ~ .floating-label-message,
.form-control:not(:placeholder-shown) ~ .floating-label-message {
  top: 0;
  transform: translateY(-100%);
  font-size: 0.75rem;
  color: #9580a9;
}

.input-wrapper input,
.input-wrapper textarea {
  border: 1px solid #f2f0f0;
  background-color: white;
  width: 100%;
  padding: 17px 15px;
  font-size: 16px;
  border-radius: 4px;
  transition: border 0.3s;
}

.input-wrapper input:focus,
.input-wrapper textarea:focus {
  border: 2px solid #add8e6;
  outline: none;
}

.input-wrapper input:hover,
.input-wrapper textarea:hover {
  border: 2px solid #0000ff;
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #ccc;
  line-height: 1;
}

.close-icon:hover {
  color: #9580a9;
}

.terms {
  display: flex;
  align-items: center;

  .checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    min-width: 20px;
    max-width: 20px;
    border: 2px solid #e1e8f1;
    background-color: white;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    margin-right: 8px;
  }

  .checkbox:checked {
    background-color: #007bff;
  }

  .checkbox:checked::before {
    content: "\2714";
    display: block;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }

  .checkbox:focus {
    border-color: #0056b3;
  }
}

.terms input[type="checkbox"] {
  margin-right: 20px;
}

.send-btn {
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #0000ff;
  color: blue;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: padding 0.3s;
  opacity: 0.7;
}

.send-btn:hover {
  padding: 10px 30px;
}

.send-btn .arrow {
  margin-left: 10px;
  transition: margin-left 0.3s;
}

.send-btn:hover .arrow {
  margin-left: 20px;
}

@media (max-width: 985px) {
  .container-header-content-wraper {
    display: flex;
    flex-direction: column;
    width: 95%;
    // margin-top: 50px;
    align-items: center;
    .header {
      .header-question-text {
        font-size: 35px;
        text-align: center;
      }
    }
  }

  .header-contact-text {
    text-align: center;
  }

  .header-number-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-number-email-contact {
      font-size: 15px;
      font-weight: 900;
    }

    .header-number-email-circle {
      display: none;
    }

    .header-number-email-email {
      font-size: 15px;
    }
  }
}

.star-for-email-message {
  color: red;
  font-weight: 700;
}
