@import "variables";

$text-color: #424243;
$border-color: #e1e1e2;

.simple-section {
  overflow: hidden;
  padding-bottom: 150px;
}
.form-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  .form-bg {
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}
.container-header-content-wraper {
  position: relative;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  gap: 60px;
  margin-top: 100px;

  .header {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

    .header-contact-text {
      font-size: 12px;
      font-weight: 900;
      font-family: $font-en-primary;
      letter-spacing: 3px;
      color: $text-color;
      opacity: 0.5;
    }

    .header-question-text {
      font-size: 45px;
      font-weight: 800;
      line-height: 60px;
      margin-top: 10px;
      color: $text-color;
      .call-icon {
        color: #0000ff;
      }
    }

    .header-number-email {
      display: flex;
      gap: 15px;
      margin-top: 40px;

      .header-number-email-contact {
        font-size: 20px;
        font-weight: 700;
        font-family: $font-en-primary;
      }

      .header-number-email-circle {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #0000ff;
        margin-top: 10px;
      }

      .header-number-email-email {
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}
.content {
  display: flex;
  flex-basis: 50%;
  margin: 0 20px;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input,
.input-wrapper textarea {
  border: 1px solid #f2f0f0;
  width: 100%;
  padding: 17px 15px;
  font-size: 16px;
  border-radius: 4px;
  transition: border 0.3s;
}

.input-wrapper input::placeholder,
.input-wrapper textarea::placeholder {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.6;
  color: rgb(79, 44, 111);
}

.input-wrapper input:focus,
.input-wrapper textarea:focus {
  border: 2px solid #add8e6;
  outline: none;
}

.input-wrapper input:hover,
.input-wrapper textarea:hover {
  border: 2px solid #0000ff;
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #ccc;
  line-height: 1;
}

.close-icon:hover {
  color: #000;
}

.terms {
  display: flex;
  align-items: center;

  .checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    min-width: 20px;
    max-width: 20px;
    border: 2px solid #e1e8f1;
    background-color: white;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    margin-right: 8px;
  }

  .checkbox:checked {
    background-color: #007bff;
  }
}

.terms input[type="checkbox"] {
  margin-right: 20px;
}

.send-btn {
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #0000ff;
  color: #000;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: padding 0.3s;
}

.send-btn:hover {
  padding: 10px 30px;
}

.send-btn .arrow {
  margin-left: 10px;
  transition: margin-left 0.3s;
}

.send-btn:hover .arrow {
  margin-left: 20px;
}

@media (max-width: 985px) {
  .container-header-content-wraper {
    .header {
      .header-question-text {
        font-size: 35px;
        text-align: center;
      }
    }
  }

  .container-header-content-wraper {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 50px;
  }

  .header-contact-text {
    text-align: center;
  }

  .header-number-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header-number-email-contact {
      font-size: 15px;
      font-weight: 900;
    }

    .header-number-email-circle {
      display: none;
    }

    .header-number-email-email {
      font-size: 15px;
    }
  }
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
  transition: border-color 0.3s ease;
}

.checkbox:checked {
  background-color: #007bff;
}

.checkbox:checked::before {
  content: "\2714";
  display: block;
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.checkbox:focus {
  border-color: #0056b3;
}
