<!-- <div class="container"> -->
<section class="hero-section">
  <div class="content">
    <h1>Business Automation Expert</h1>
    <p>Start your business online now</p>
    <button class="start-btn">START NOW</button>
    <div class="bip">
      <div class="blinking-green"></div>
      <p class="performance-text">
        Best Performance Website without
        <span class="highlight">zero coding</span>
      </p>
    </div>
  </div>
  <div class="low-button"><svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#5f6368"><path d="M480-345 240-585l56-56 184 183 184-183 56 56-240 240Z"/></svg></div>
  <div class="background-graphics">
    <!-- Background graphics can be placed here -->
  </div>
</section>
<!-- </div> -->
