<div class="container">
  <div class="parent">
    <app-data-scincetis></app-data-scincetis>
    <app-about-course></app-about-course>
  </div>
</div>
<app-course-features [buttonShow]=true></app-course-features>
<div class="container">
  <div class="parent">
    <app-our-team></app-our-team>
    <div class="circle"></div>
    <div class="bgbox-01">
      <img src="../asset/Course-details-page/Image-57.png" alt="" />
    </div>
    <app-success-stories></app-success-stories>
    <app-our-alumna></app-our-alumna>
    <app-registration-box [inputData]="myData"></app-registration-box>
  </div>
</div>
