/**
  * font-family: "Satoshi", sans-serif
  * Available Font Weight: 300, 400, 500, 700, 900
  * Available Font Style: normal, italic
 */


 @font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi/Satoshi-Light.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi/Satoshi-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi/Satoshi-Italic.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi/Satoshi-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi/Satoshi-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi/Satoshi-Black.ttf') format('truetype');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

// Hind_Siliguri

@font-face {
  font-family: 'Hind_Siliguri';
  src: url('fonts/Hind_Siliguri/HindSiliguri-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hind_Siliguri';
  src: url('fonts/Hind_Siliguri/HindSiliguri-Light.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Hind_Siliguri';
  src: url('fonts/Hind_Siliguri/HindSiliguri-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: 'Hind_Siliguri';
  src: url('fonts/Hind_Siliguri/HindSiliguri-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
