/**
  * font-family: "Satoshi", sans-serif
  * Available Font Weight: 300, 400, 500, 700, 900
  * Available Font Style: normal, italic
 */



@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins/Poppins-Thin.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Permanent_Marker';
  src: url('fonts/Permanent_Marker/PermanentMarker-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'font_222-03';
  src: url('fonts/font_222-03/222-03.regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}
