// Fonts Family
$font-en-poppins: 'Poppins', sans-serif;
$font-en-primary: $font-en-poppins;
$font-en-Permanent_Marker:'Permanent_Marker';
$font-en-font_222-03:'font_222-03';

// COLOR
// $color-primary: #5d36ff;
$color-white: #ffffff;
$color-black: #000000;
$color-pest: #1B9AAA;
$color-purpel:#7765E3;
$color-pink:#EFB9CB;
$color-yellow:#FFC43D;

//button-colour
$color-btn-primary: linear-gradient(90deg, rgb(3, 173, 182),rgb(132, 0, 255));
$color-btn-secoundary: linear-gradient(90deg,rgb(132, 0, 255), rgb(3, 173, 182));

// Container
$header-height: 85px;
// $header-height-sm: 85px;
$container-max-width: 1440px;

// Fonts
$font-title: 34px;
$font-title-sm: 26px;

$font-sub-title: 26px;
$font-sub-title-sm: 20px;

$font-title-desc: 16px;
$font-title-desc-sm: 12px;

$font-readable: 14px;
$font-readable-sm: 12px;
