// Fonts Family
$font-en-satoshi: 'Satoshi', sans-serif;
$font-en-primary: $font-en-satoshi;
$font-en-secondary:'Hind_Siliguri';

// COLOR
// $color-primary: #5d36ff;
$color-primary: #5d36ff;
$color-success: #018e55;
$color-secondary: #4b378d;
$color-accent: #1aa4e0;
$color-warn: #d83333;
$color-white: #ffffff;
$color-black: #000000;
$button-color: #5d36ff;
$button-mark-color:#118611e7;


// Container
$header-height: 60px;
// $header-height-sm: 85px;
$container-max-width: 1440px;
// $container-max-width: 1349px;


// Fonts
$font-title: 34px;
$font-title-sm: 26px;

$font-sub-title: 26px;
$font-sub-title-sm: 20px;

$font-title-desc: 16px;
$font-title-desc-sm: 12px;

$font-readable: 14px;
$font-readable-sm: 12px;
