<div class="section">
  <div class="container">
    <div class="au-container">
      <div class="item1">
        <div class="title">
          <h3>About Us</h3>
        </div>
        <div class="subtitle">
          <div class="st1">
            <h3>2400+</h3>
            <p>Title</p>
          </div>
          <div class="st2">
            <h3>1450+</h3>
            <p>Title</p>
          </div>
          <div class="st3">
            <h3>1900+</h3>
            <p>Title</p>
          </div>
        </div>
        <div class="description">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
            nulla voluptatibus aliquam, atque minima ad? Fugiat quidem
            exercitationem esse aspernatur, et beatae explicabo aut, numquam
            dolor at facere omnis consequatur? exercitationem esse aspernatur, et beatae explicabo aut, numquam
            dolor at facere omnis consequatur? exercitationem esse aspernatur, et beatae explicabo aut, numquam
            dolor at facere omnis consequatur?
          </p>
        </div>
        <button class="button button2">Register Now</button>
      </div>

      <div class="item2">
        <div class="cg1">
          <img
            src="../asset/Home Page-01.png"
            alt=""
            srcset=""
          />
        </div>

        
          <div class="cg2">
            <div class="img1">
              <img
                src="../asset/Home Page 02-01.png"
                alt=""
                srcset=""
              />
            </div>
            <div class="img2">
              <img src="../asset/Home Page 03-01.png" alt="ssd" srcset="" />
            </div>
          
        </div>

        
        <div class="cg3">
          <img
            src="../asset/Home Page 04-01.png"
            alt=""
            srcset=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
