<!-- <div class="content">
  <h3>Our Instructors</h3>
</div> -->
<div class="members">
  <div class="card">
    <img src="/images/Instructors/img1.png" alt="" />
    <div class="name">
      <h4><b>Angush Wintheiser</b></h4>
    </div>
  </div>
  <div class="card">
    <img src="/images/Instructors/img2.png" alt="" />
    <div class="name">
      <h4><b>Angush Wintheiser</b></h4>
    </div>
  </div>
  <div class="card">
    <img src="/images/Instructors/img1.png" alt="" />
    <div class="name">
      <h4><b>Angush Wintheiser</b></h4>
    </div>
  </div>
  <div class="card">
    <img src="/images/Instructors/img2.png" alt="" />
    <div class="name">
      <h4><b>Angush Wintheiser</b></h4>
    </div>
  </div>
  <div class="card">
    <div class="img">
      <img class="hover" src="/images/Instructors/img1.png" alt="" />
      <div class="name">
        <h4><b>Angush Wintheiser</b></h4>
      </div>
    </div>
  </div>
</div>
