@import 'variables';
.tb-container{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px 0;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: $color-sky;
    position: relative;
}
.p-container{
    display: grid;
    place-items: center;
}
.title{
   width: 700px;
   text-align: center;
   font-family: $font-en-Permanent_Marker;
   font-size: calc($font-title) + 15;
}
.description{
    padding-top: 20px;
    text-align: center;
    color: gray;
    width: 80%;
}
.decoration-container{
    height: 500px;
    width: 100px;
}

.icon{
    height: 70px;
    width: 70px;
}

.img1{
    
    position: absolute;
    left: 10%;
    top: -10%;

    img{
        height: 100%;
        width: 100%;
    }
}
.img2{
    
    position: absolute;
    left: 0;
    top: 10%;

    img{
        height: 100%;
        width: 100%;
    }
}

.img3{
    
    position: absolute;
    left: 14%;
    top: 55%;

    img{
        height: 100%;
        width: 100%;
    }
}

.img4{
    
    position: absolute;
    left: 0;
    top: 84%;
    img{
        height: 100%;
        width: 100%;
    }
}

.img5{
    
    position: absolute;
    left: 80%;
    top: -10%;
    img{
        height: 100%;
        width: 100%;
    }
}

.img6{
    
    position: absolute;
    right: 0;
    top: 10%;
    img{
        height: 100%;
        width: 100%;
    }
}

.img7{
    
    position: absolute;
    left: 85%;
    top: 48%;
    img{
        height: 100%;
        width: 100%;
    }
}

.img8{
    
    position: absolute;
    right: 0;
    top: 88%;
    img{
        height: 100%;
        width: 100%;
    }
}


@media only screen and (max-width: 1200px) {

    .icon{
        width: 40px;
        height: 40px;
    }
   
    .img1{
        left: 13%;
    }
    .img2{
        left: 2%;
    }
    
    .img3{
        left: 8%;
    }
    
    .img4{
        left: 2%;
    }
    
    .img5{
        left: 83%;
    }
    
    .img6{
        left: 93%;
    }
    
    .img7{
        left: 88%;
    }
    
    .img8{
        left: 93%;
    }
    
}



@media only screen and (max-width: 800px) {
    .tb-container {
      display: flex;
      margin: 0;
    //   text-align: center;
      max-width: 100%;
      position: relative;
    }


    .title {
        width: 250px;

        h3{
        font-size: $font-title-sm;
        text-align: center;
        }
    }
    .description {
        width: 280px;
        p{
        font-size: 12px;
        }
    }
    
    .icon{
        width: 25px;
        height: 25px;
    }

    .img1{
        top:10px;
        left: 8%;
    }
    .img2{
        top: 25%;
        left: 2%;
    }
    
    .img3{
        top: 50%;
        left: 10%;
    }
    
    .img4{
        top: 80%;
        left: 2%;
    }
    
    .img5{
        top:10px;
        right: 13%;
    }
    
    .img6{
        top: 25%;
        right: 2%;
    }
    
    .img7{
        top: 50%;
        right: 10%;
    }
    
    .img8{
        top: 80%;
        right: 2%;
    }
    
}