<div class="tb-container">
  <div class="p-container">
    <div class="title">
      <h3>The best way to learn online course +<br> find opportunities</h3>
    </div>
    <div class="description">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam
        dicta nobis doloribus, soluta alias
      </p>
    </div>
  </div>
  <div class="decoration">
    <div class="img1 icon">
      <img src="../images/asset/mysql1.png" alt="" srcset="" />
    </div>
    <div class="img2 icon">
      <img
        src="../images/asset/nestle-9-logo-png-transparent.png"
        alt=""
        srcset=""
      />
    </div>
    <div class="img3 icon">
      <img src="../images/asset/programming (1).png" alt="" srcset="" />
    </div>
    <div class="img4 icon">
      <img src="../images/asset/coding-language.png" alt="" srcset="" />
    </div>
    <div class="img5 icon">
      <img src="../images/asset/software.png" alt="" srcset="" />
    </div>
    <div class="img6 icon">
      <img src="../images/asset/programming.png" alt="" srcset="" />
    </div>
    <div class="img7 icon">
      <img
        src="../images/asset/Course details page/content-image.png"
        alt=""
        srcset=""
      />
    </div>
    <div class="img8 icon">
      <img src="../images/asset/python.png" alt="" srcset="" />
    </div>
  </div>
</div>
