<div class="card">

  <div class="icon-view">
    <div class="check"></div>
  </div>

  <div class="content">
    <h6>Congratulation!</h6>
    <p>Your website is build successfully and is lived.</p>
  </div>

  <div class="web-info">
    <div class="title">
      <h6>Website Details</h6>
    </div>

    <div class="item">
      <div class="left"><b>Website Url:</b></div>
      <div class="right"><a href="https://saleecom.com" target="_blank">saleecom.com</a></div>
    </div>

    <div class="item">
      <div class="left"><b>Admin Url:</b></div>
      <div class="right"><a href="https://admin.saleecom.com" target="_blank">admin.saleecom.com</a></div>
    </div>
  </div>

  <div class="web-info">

    <div class="title">
      <h6>Login Credential</h6>
    </div>

    <div class="item">
      <div class="left"><b>Username:</b></div>
      <div class="right"><p>heriken</p></div>
    </div>

    <div class="item">
      <div class="left"><b>Password:</b></div>
      <div class="right"><p>admin123456</p></div>
    </div>
  </div>

</div>

<div class="gap"></div>
