<div class="outter-parent">
    <div class="container">
        <div class="parent">
            <div class="bgline-01"></div>
            <app-our-blog></app-our-blog>
            <div class="bgCircle-01"></div>
            <div class="bgCircle-02"></div>
            <div class="bgCircle-03">
                <img src="../asset/Course-details-page/Ellipse 72.png" alt="circle">
            </div>
            <div class="bgbox-01">
                <img src="../asset/Course-details-page/Image-57.png" alt="">
            </div>
            
        </div>
        <app-registration-box [inputData]="myData"></app-registration-box>
    </div>
</div>
