.outter-parent{
    width: 100%;
    overflow: hidden;

}

.parent{
    margin-top: 20px;
    position: relative;
}

.bgline-01{
    position: absolute;
    background-image: linear-gradient(to left, #1B9AAA, transparent);
    width: 220px;
    height: 60px;
    left: -80px;
    border-radius: 50px;
    z-index: -1;
}

.bgCircle-01{
   position: absolute;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #1B9AAA;
   right: 120px;
   top: 60px;
   
}

.bgCircle-02{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1B9AAA;
    left: 100px;
    top: 52%;
    z-index: -1;
 }

.bgCircle-03{
    position: absolute;
    width: 100px;
    bottom: 10px;
    z-index: -1;

    img{
        width: 100%;
    }
}


.bgbox-01{
    position: absolute;
    width: 500px;
    right: -360px;
    bottom: 200px;
    z-index: -1;
    rotate: 60deg;

    img{
        width: 100%;
    }
}



 @media only screen and (max-width: 599px) {

    .bgline-01{
        width: 100px;
        left: -50px;
    }

    .bgCircle-01{
        display: none;
     }

     .bgCircle-02{
        display: none;
     }
  
}