

<app-most-powerful-business-automation-system></app-most-powerful-business-automation-system>

<!-- <app-choose-your-own-template></app-choose-your-own-template> -->


<!-- <div class="outter-parent">
  <div class="container">
    <div class="parent">
      <div class="circle1"><img src="/images/dim1.png" alt="" /></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <app-showcase></app-showcase>
      <div class="squire1"></div>
      <div class="squire2"></div>
      <app-learn-something></app-learn-something>
      <app-our-courses></app-our-courses>
      <div class="stic1"><img src="/images/stick.png" alt="" /></div>
      <div class="stic2"></div>
      <div class="circle4"></div>
      <div class="circle5"></div>
      <div class="circle6"></div>
      <div class="diamond1"><img src="/images/diamond.png" alt="" /></div>
      <app-inspiring-futures></app-inspiring-futures>
    </div>
  </div>

  <app-course-features [buttonShow]="false"></app-course-features>

  <div class="container">
    <div class="parent">
      <div class="diamond2"><img src="/images/diamond.png" alt="" /></div>
      <app-our-alumna></app-our-alumna>
      <app-our-team></app-our-team>
      <div class="stic3"><img src="/images/stick.png" alt="" /></div>
      <div class="stic4"><img src="/images/stick.png" alt="" /></div>
      <div class="circle7"></div>
      <app-our-achievement></app-our-achievement>
      <div class="circle8"><img src="/images/dim1.png" alt="" /></div>
      <app-success-stories></app-success-stories>
      <app-registration-box [inputData]="myData"></app-registration-box>
    </div>
  </div>
</div> -->





<!-- <app-banner></app-banner> -->
<!-- <app-builder-process></app-builder-process> -->


