<div class="container">
  <div class="main-container">
    <div class="heading">
      <h3>আপনার অনলাইন বিজনেসকে অটােমেশন করে সফল হওয়ার সকল সল্যুশন</h3>
      <h4>
        একজায়গায় পাচ্ছেন আমাদের Most Powerful Business Automation System
        <span style="font-weight: 900">SaleEcom </span>এ...</h4>
      <img src="../asset/Shape01.svg" alt="" />
    </div>
    <div class="image-banner">
      <img src="../asset/Feature_image01.png" alt="" />
    </div>
    <div class="itemsOfProduct-container">
      <div class="card">
        <div class="image"></div>
        <p>সিম্পল ড্রাগ এন্ড ড্রপ ওয়েবসাইট বিল্ডার</p>
      </div>
      <div class="card">
        <div class="image"></div>
        <p>সুপার ফাস্ট CDN হোস্টিং & স্মুথ পেজ</p>
      </div>
      <div class="card">
        <div class="image"></div>
        <p>রেডিমেট আকর্ষণীয় ল্যান্ডিং পেজ</p>
      </div>
      <div class="card">
        <div class="image"></div>
        <p>কাস্টম ডোমেইন</p>
      </div>
      <div class="card">
        <div class="image"></div>
        <p>ইনভেন্টরি ম্যানেজমেন্ট</p>
      </div>
      <div class="card">
        <div class="image"></div>
        <p>সুপারফাস্ট কুরিয়ার ইন্ট্রিগ্রেশন</p>
      </div>
      <div class="card">
        <div class="image"></div>
        <p>অর্ডার,সেল & ডেলিভারি রিপোর্ট</p>
      </div>
      <div class="card">
        <div class="image"></div>
        <p>প্রাইভেসী প্রটেকশন</p>
      </div>
    </div>
  </div>
</div>
