@import "variables";
.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
}

.heading {
    position: relative;
    width: 100%;
    h3 {
        
        margin-top: 40px;
        color: #4d4d4f;
        text-align: center;
        // padding: 0 30px;
        font-size: calc($font-title)-2px;
        font-family: $font-en-secondary;
    }
    h4{
        color: #4d4d4f;
        text-align: center;
        font-size: calc($font-title)-2px;
        font-family: $font-en-secondary;
        // text-wrap: nowrap;
    }

    img {
        position: absolute;
        width: 60%;
        left: 25%;
    }
}

.image-banner {
    width: 95%;
    padding: 10px 0 0 0;
    transform: translateY(5px);
    img{
        width: 100%;
    } 
        
}



.itemsOfProduct-container {
    width: 100%;
    padding: 40px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    // box-shadow: inset -10px 0 50px rgb(111, 89, 89,0.6);
    box-shadow: inset 1px 10px 10px -10px rgba(0, 0, 0, 0.2), /* Bottom shadow */
                inset -20px -10px 40px -10px rgba(0, 0, 0, 0.2);
                background: rgb(242,241,241);
                background: linear-gradient(90deg, rgba(242,241,241,1) 0%, rgba(248,248,248,1) 18%, rgba(226,226,226,1) 85%, rgba(221,221,221,1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 20px;
    height: 216px;
    // background: red;
    .image {
        // border:1px solid blue;
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
        border-radius: 50%;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 9%, rgba(246,244,244,1) 28%, rgba(191,191,191,1) 79%, rgba(255,255,255,1) 100%);
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);    
    }
    p{
        color: #4d4d4f;
        font-family: $font-en-secondary;
        font-size: calc($font-readable);
        font-weight: 700;
    }
    
}

@media (max-width:800px) {
    .itemsOfProduct-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card {
        height: 207px;
        padding: 10px;
        .image {
            height: 100px;
            width: 100px;
        }
    }
}


@media only screen and (max-width: 599px) {

    .image-banner{
        width: 80%;
    }
    .heading{
        h3{
            font-size: medium;
        }
        h4{
            font-size: medium;
            text-wrap: wrap;
        }
    }
    .itemsOfProduct-container {
        grid-template-columns: 1fr 1fr;
    }
    
}