@import "variables";
.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
}

.heading {
    // border: 1px solid red;
    // padding: 50px 30px 10px;
    position: relative;
    width: 100%;

    h3 {
        
        margin-top: 40px;
        color: #4d4d4f;
        text-align: center;
        // padding: 0 30px;
        font-size: calc($font-title)-8px;
        font-family: $font-en-primary;
    }
    h4{
        color: #4d4d4f;
        text-align: center;
        font-size: calc($font-title)-8px;
        font-family: $font-en-primary;
        // text-wrap: nowrap;
    }

    img {
        position: absolute;
        width: 60%;
        left: 25%;
    }
}

.image-banner {
    width: 95%;
    padding: 50px 0 0 0;
    transform: translateY(5px);
    img{
        width: 100%;
    } 
        
}



.itemsOfProduct-container {
    width: 100%;
    padding: 40px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: inset -10px 0 50px rgb(111, 89, 89,0.6);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    .image {
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
        border-radius: 50%;
        background-image: linear-gradient(to right,aliceblue, aliceblue,rgb(239, 239, 239),rgb(240, 240, 240),rgb(230, 230, 230),rgb(220, 220, 220), rgb(210, 210, 210),white,aliceblue);
        // background: rgb(255,255,255);
        // background: linear-gradient(90deg, rgba(255,255,255,1) 38%, rgba(153,153,153,1) 75%, rgba(255,255,255,1) 100%);
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);    
    }
    p{
        color: #4d4d4f;
        font-family: $font-en-primary;
        font-size: calc($font-readable);
        font-weight: 700;
    }
    
}

@media (max-width:800px) {
    .itemsOfProduct-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card {
        padding: 10px;
    }
}


@media (max-width:900px) {
    .card {
        .image {
            width: 100px;
            height: 100px;
        }
        p{
            width: 100px;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@media (max-width:450px) {

    .image-banner{
        width: 80%;
    }
    .heading{
        h3{
            font-size: medium;
        }
        h4{
            font-size: medium;
            text-wrap: wrap;
        }
    }
    .itemsOfProduct-container {
        grid-template-columns: 1fr 1fr;
    }
    
}