@import "fonts";
@import "variables";

.registration-container {
  width: 100%;

  margin-top: 100px;

  // height: 500px;
}

.registration-banner {
  width: 100%;
  height: 250px;
  background-color: #1b9aaa;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // background-image: url("../../../../../public/images/Mask-Group.png");
  background-size: cover;
  // padding: 0 40px;
  padding: 20px 0;
  gap: 500px;
}

.banner-left-child {
  width: 100%;
  height: 100%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h3 {
    font-family: $font-en-Permanent_Marker;
    padding-bottom: 20px;
    color: white;
    font-family: "Permanent_Marker";
    font-weight: 100;
  }
  button {
    background: rgb(255, 255, 255);
    color: $color-pest;
    border-style: none;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
  }
}
.banner-riht-child {
  // max-width: 400px;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media only screen and (max-width: 599px) {
  .registration-banner {
    height: auto;
    padding: 20px;
    width: 100%;
    flex-direction: column-reverse;
    gap: 0px;
  }
}
