@import "variables";
section{
    background-color: #f7f7f7;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: #f7f7f7;
    padding-bottom: 50px;
}

.heading{
    padding: 60px;
    h1{
        color: #4d4d4f;
        font-size: calc($font-title)+10px;
        font-family: $font-en-primary;
        margin-bottom: 6px;
    }
    .bgline{
        margin-top: 5px;
        width: 200px;
        border: 1px solid #4d4d4f;
        position: absolute;
        left: 56%;
    }
}

.card-banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}


.card{
    img{
        width: 300px;
        height: 500px;
        border: 2px solid #4d4d4f;
    }
}

@media (max-width:1100px) {
    .card-banner{
        flex-direction: column;
    }
}

@media (max-width:500px) {
    .heading{
        text-align: center;
        padding-bottom: 60px;
        h1{
            font-size: $font-sub-title;
            white-space: nowrap;
        }
        .bgline{
            width: 110px;
            border: 1px solid #4d4d4f;
            position: absolute;
            left: 64%;
        }
    }
}



