<section>
<div class="container">
  <div class="main-container">
    <div class="heading">
      <h1>Choose Your Own Template</h1>
      <div class="bgline"></div>
    </div>
    <div class="card-banner">
      <div class="card card01" >
        <img src="../asset/templete02.png" alt="" />
      </div>
      <div class="card card02">
        <img src="../asset/templete01.png" alt="" />
      </div>
      <div class="card card03">
        <img src="../asset/templete03.png" alt="" />
      </div>
    </div>
  </div>
</div>
</section>
