<div class="register-container">
    <div class="register-container-heading">
        <h1>REGISTER NOW</h1>
        <p>Lorem ipsum dolor sit amet erunt aspernatur corporis inventore expedita suscipit.</p>
    </div>


     <div class="register-container-inputs">

        <div class="register-inputs">
            <input type="text" placeholder="Date">
            <input type="text" placeholder="Time">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Phone">
        </div>

        <textarea cols="30" rows="10" placeholder="Message" ></textarea>
        
     </div>
    

    <button class="reg-btn">Submit</button>
    
</div>
