

  

<div class="container">
  <div class="content">

    <div class="bgbox-01">
      <img src="../asset/Course-details-page/Image-57.png" alt="">
  </div>
  
  
  <div class="bgbox-02">
    <img src="../asset/Course-details-page/Image-57.png" alt="">
  </div>

    <div class="item1">
      <img
        src="../images/asset/Course details page/content-image.png"
        alt=""
        srcset=""
      />
    </div>
    <div class="item2">
      <div class="it2-title">
        <h3>What you will learn from our advance bootcamp</h3>
      </div>
      <div class="it2-description">
        <ul>
          <div class="li">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="22"
              width="22"
              viewBox="0 0 512 512"
            >
              <path
                fill="#1B9AAA"
                d="M504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zM227.3 387.3l184-184c6.2-6.2 6.2-16.4 0-22.6l-22.6-22.6c-6.2-6.2-16.4-6.2-22.6 0L216 308.1l-70.1-70.1c-6.2-6.2-16.4-6.2-22.6 0l-22.6 22.6c-6.2 6.2-6.2 16.4 0 22.6l104 104c6.2 6.2 16.4 6.2 22.6 0z"
              />
            </svg>
            <p>Relevent rules depvered directly to your inbox</p>
          </div>
          <div class="li">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="22"
              width="22"
              viewBox="0 0 512 512"
            >
              <path
                fill="#1B9AAA"
                d="M504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zM227.3 387.3l184-184c6.2-6.2 6.2-16.4 0-22.6l-22.6-22.6c-6.2-6.2-16.4-6.2-22.6 0L216 308.1l-70.1-70.1c-6.2-6.2-16.4-6.2-22.6 0l-22.6 22.6c-6.2 6.2-6.2 16.4 0 22.6l104 104c6.2 6.2 16.4 6.2 22.6 0z"
              />
            </svg>
            <p>Powerful search functionapty</p>
          </div>
          <div class="li">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="22"
              width="22"
              viewBox="0 0 512 512"
            >
              <path
                fill="#1B9AAA"
                d="M504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zM227.3 387.3l184-184c6.2-6.2 6.2-16.4 0-22.6l-22.6-22.6c-6.2-6.2-16.4-6.2-22.6 0L216 308.1l-70.1-70.1c-6.2-6.2-16.4-6.2-22.6 0l-22.6 22.6c-6.2 6.2-6.2 16.4 0 22.6l104 104c6.2 6.2 16.4 6.2 22.6 0z"
              />
            </svg>
            <p>Hundrades of opportunities added daily</p>
          </div>
          <div class="li">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="22"
              width="22"
              viewBox="0 0 512 512"
            >
              <path
                fill="#1B9AAA"
                d="M504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zM227.3 387.3l184-184c6.2-6.2 6.2-16.4 0-22.6l-22.6-22.6c-6.2-6.2-16.4-6.2-22.6 0L216 308.1l-70.1-70.1c-6.2-6.2-16.4-6.2-22.6 0l-22.6 22.6c-6.2 6.2-6.2 16.4 0 22.6l104 104c6.2 6.2 16.4 6.2 22.6 0z"
              />
            </svg>
            <p>Easily reniew rate</p>
          </div>
          <div class="li">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="22"
              width="22"
              viewBox="0 0 512 512"
            >
              <path
                fill="#1B9AAA"
                d="M504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zM227.3 387.3l184-184c6.2-6.2 6.2-16.4 0-22.6l-22.6-22.6c-6.2-6.2-16.4-6.2-22.6 0L216 308.1l-70.1-70.1c-6.2-6.2-16.4-6.2-22.6 0l-22.6 22.6c-6.2 6.2-6.2 16.4 0 22.6l104 104c6.2 6.2 16.4 6.2 22.6 0z"
              />
            </svg>
            <p>IR35 and remote working status</p>
          </div>
        </ul>
      </div>
      <button class="button button2">Register Now</button>
    </div>
  </div>
</div>


