<div class="container">
  <div class="main-container">
    <div class="left">
      <p class="top-text">Next class starts 10 august, 2024</p>
      <h1>
        DATA <br />
        SCIENTIST
      </h1>
      <p class="text-des">
        Lorem ipsum dolor sit amet. Et excepturi autem et officiis molestias qui
        voluptas molestiae non aperiam repellendus id maxime reiciendis non
        consectetur voluptas id consequatur asperiores. Eum dolorem quia ut
        similique aspernatur ab libero illo est voluptas aliquam eum nihil
        eveniet. Quo dolor porro a accusamus ipsa qui voluptas dolor. Eum
        dolorem quia ut similique aspernatur ab libero illo est voluptas aliquam
        eum nihil eveniet. Quo dolor porro a accusamus ipsa qui voluptas dolor.
      </p>
      <button class="download-btn">Download syllabus</button>
    </div>
    <div class="right">
      <div class="img-01">
        <img src="/asset/Course-details-page/Group 165117.png" alt="" />
      </div>
      <div class="img-02">
        <img src="/asset/Course-details-page/Home Page 03-01.png" alt="" />
      </div>
    </div>
  </div>
</div>
