<div class="qc-container">
    <div class="left-section">
        <h5>We Care About You</h5>
        <p class="sub-heading">How Quality Course <br> You Can Do!</p>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, incidunt voluptatum quisquam dolore perferendis, ullam iusto exercitationem aspernatur eveniet recusandae ipsum aperiam! Quisquam adipisci totam perferendis numquam, nostrum pariatur recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis placeat sit sed labore iusto, quis illum eveniet, voluptatibus eum dicta praesentium vitae natus nihil delectus quo, pariatur ad deserunt vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates deleniti sapiente doloremque blanditiis illum maiores ut ea nemo adipisci quod reiciendis autem officia asperiores ad possimus, modi nam ipsum optio! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex nisi adipisci sunt molestiae quis dolores optio dignissimos nam perspiciatis consectetur. Animi dicta nobis deleniti quia iure ea, aperiam ullam cupiditate.</p>
        <button>Register Now</button>
    </div>

    <div class="right-section">

        <div class="right-dots-container-01">
            <div class="right-dot"></div>
            <div class="right-dot"></div>
            <div class="right-dot"></div>
            <div class="right-dot"></div>
            <div class="right-dot"></div>
            <div class="right-dot"></div>
        </div>

        <div class="right-video-outter-container">
            <div class="right-video-container">
                <img src="../asset/Group 47523.png" alt="">
                <div class="play-btn">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="right-dots-container-02">
            <div class="right-dot"></div>
            <div class="right-dot"></div>
            <div class="right-dot"></div>
            <div class="right-dot"></div>
            <div class="right-dot"></div>
            <div class="right-dot"></div>
            <div class="right-dot"></div>
            <div class="right-dot"></div>
        </div>
        
    </div>
</div>
