<h2>OUR ACHIEVEMENT</h2>
<div class="achievements">
  <div class="item">
    <div class="icon">
      <img src="/icons/check_circle_outline-24px (1).svg" alt="Check Icon" />
    </div>
    <div>
      <h3>5000</h3>
      <p>Title</p>
    </div>
  </div>
  <div class="item">
    <div class="icon">
      <img src="/icons/assignment_turned_in-24px.svg" alt="Check Icon" />
    </div>
    <div>
      <h3>5000</h3>
      <p>Title</p>
    </div>
  </div>
  <div class="item">
    <div class="icon">
      <img src="/icons/5235.svg" alt="Check Icon" />
    </div>
    <div>
      <h3>5000</h3>
      <p>Title</p>
    </div>
  </div>
  <div class="item">
    <div class="icon">
      <img src="/icons/5235.svg" alt="Check Icon" />
    </div>
    <div>
      <h3>5000</h3>
      <p>Title</p>
    </div>
  </div>
</div>
