.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    position: relative;
    padding: 20px;
    h1{
        text-align: center;
        font-size: 1.8rem;
    }
    .bgline{
        position: absolute;
        width: 200px;
        border: 1px solid black;
        left: 75%;
    }
}

.banner-play{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    justify-content: center;
    align-items: center;
    grid-gap: 180px;
}

.left-video-sec{
    border: 1px solid black;
    border-radius: 10px;
}
.front-video-sec{
    border: 1px solid black;
    border-radius: 10px;
}
.right-vide0-sec{
    border: 1px solid black;
    border-radius: 10px;
}


.side-image{
    width: 400px;
    height: 300px;
}

.front-image{
    width: 600px;
    height: 400px;
}
@media only screen and (max-width: 599px) {
    .heading .bgline{
      display: none;
    }
}

