
<div class="main-container">
    <div class="heading">
        <h1>SaleEcom ব্যবহার কের আমােদর ইউজার দর সফলতার গল্প</h1>
        <div class="bgline"></div>
    </div>
    <div class="banner-play">
        
        <div class="left-video-sec">
            <div class="side-image">

            </div>
        </div>
        <div class="front-video-sec">
            <div class="front-image">

            </div>
        </div>
        <div class="right-vide0-sec">
            <div class="side-image">
                
            </div>
        </div>

    </div>
</div>